*{
	padding: 0;
	margin: 0;
	text-decoration: none;
}
html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 80%;

    position: fixed;
}
body {
	background-image: url(girl.png);
	background-size: 45%;
	background-color: white;
	height: 70px;
	background-position: center;
	background-repeat: no-repeat;
}
body {
    font-family: arial, sans-serif;
    padding: 0;
    margin: 0;
}
body {
  background-color: white;
  font-size: 16px; }
#header {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
}
#header #header-content {
    margin: 10px;
}



.box{
  width: 400px;
  background: rgba(0, 0, 0, 0.4);
  padding: 42px;
  text-align: center;
  margin: center;
	margin-left: 174%;
  margin-top: 17%;
  color: white;
  font-family: Arial;
  font-size: 20px;
	border-radius: 2%;
	transp
}


.box h3{
  font-size: 28px;
  letter-spacing: 3px;
  font-weight: 130;
	font-style: italic;
	font-family: cursive, Brush Script MT;
	color: white;
}
.box h5{
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 150;
	font-style: italic;
	font-family: cursive, Brush Script MT;
	color: #white;
}
.box h6{
	font-size: 10px;
	letter-spacing: 2px;
	font-style: italic;
	font-family: cursive, Brush Script MT;
	color: white;
}




.content-home {
	text-align: center;
}
nav{
	float: right;
	line-height: 16px;
	position: sticky;
}
nav a{
	font-family: Arial;
	color: #F0FFFF;
	letter-spacing: 1px;
	font-size: 100%;
	margin-right: 177px;
	position: sticky;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  z-index: 1;
	background-color: rgba(0, 0, 0, 0.8);
  color: #000;
}
.links {
   float: left;
}
.links a {
	margin-right: 100px;
	font-family: Verdana;
	color: #F0FFFF;
	letter-spacing: 1px;
	font-size: 10px;
	margin-right: 10px;
}
.links img {
	width: 35px;
	height: auto;
	line-height: 10px;
}
#copyright {
	margin-right: 20px;
	float: right;
	line-height: 29px;
	font-size: 20px;
	font-family: Verdana;
	color: #F0FFFF;
	letter-spacing: 1px;
}
#yt-image {
	border-radius: 0%;
}
#pagelink a {
	left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
	font-size: 30px;
	font-family: Impact;
	text-decoration: none;
	letter-spacing: 3px;
	color: #fff;
}
