*{
	padding: 0;
	margin: 0;
	text-decoration: none;
}
html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 80%;

    position: fixed;
}
body {
	background-image: url(girl.png);
	background-size: 45%;
	background-color: white;
	height: 70px;
	background-position: center;
	background-repeat: no-repeat;
}
body {
    font-family: arial, sans-serif;
    padding: 0;
    margin: 0;
}
#header {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
}
#header #header-content {
    margin: 10px;
}





* {
    font-family: 'Allerta', arial, Tahoma;
    box-sizing: border-box;
}
body {

    text-align:left;
    color:#fff;
}
h3{
    text-shadow:1px 1px 1px #fff;
}

.container-audio {
    width: 635%;
    height: auto;
    padding: 20px;
    border-radius: 4px;
    background-color: transparent;
    color: BLACK;
    margin: 50px 10px;
    overflow: auto;
}
audio {
  width:100%;
}



audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}


audio
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 2px 2px 4px 0px #515151;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:100px 100px 100px 100px ;
}












.content-home {
	text-align: center;
}
nav{
	float: right;
	line-height: 15px;
	position: sticky;
}
nav a{
	font-family: Arial;
	color: #F0FFFF;
	letter-spacing: 1px;
	font-size: 100%;
	margin-right: 177px;
	position: sticky;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  z-index: 1;
	background-color: rgba(0, 0, 0, 0.8);
  color: #000;
}
.links {
   float: left;
}
.links a {
	margin-right: 100px;
	font-family: Verdana;
	color: #F0FFFF;
	letter-spacing: 1px;
	font-size: 10px;
	margin-right: 10px;
}
.links img {
	width: 35px;
	height: auto;
	line-height: 10px;
}
#copyright {
	margin-right: 20px;
	float: right;
	line-height: 29px;
	font-size: 20px;
	font-family: Verdana;
	color: #F0FFFF;
	letter-spacing: 1px;
}
#yt-image {
	border-radius: 0%;
}
#pagelink a {
	left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
	font-size: 30px;
	font-family: Impact;
	text-decoration: none;
	letter-spacing: 3px;
	color: #fff;
}
